<template>
  <div class="game-grid">
    <div class="game-cell" v-for="cell in grid" :key="cell.value">
      <component :hasX=cell.x :hasY=cell.y :is="cell.value"></component>
    </div>
    <button v-if="allowedLeft" v-on:click='move("hasWeast")'>Left</button>
    <button v-if="allowedRight" v-on:click='move("hasEast")'>Right</button>
    <button v-if="allowedTop" v-on:click='move("hasNorth")'>Top</button>
    <button v-if="allowedBottom" v-on:click='move("hasSouth")'>Bottom</button>
    <button v-on:click='reset(2)'>RESET</button>
  </div>
</template>

<script>
  const {Connection, query} = require('stardog')
  import CellFree from "./Cells/CellFree.vue";
  import CellPlayer from "./Cells/CellPlayer.vue";
  import BigSnowball from "./Cells/SimpleSnowballs/BigSnowball.vue";
  import MediumSnowball from "./Cells/SimpleSnowballs/MediumSnowball.vue";
  import SmallSnowball from "./Cells/SimpleSnowballs/SmallSnowball.vue";
  import MediumAndBig from "./Cells/ComposedSnowballs/MediumAndBig.vue";
  import SmallAndBig from "./Cells/ComposedSnowballs/SmallAndBig.vue";
  import SmallAndMedium from "./Cells/ComposedSnowballs/SmallAndMedium.vue";
  import SmallAndMediumAndBig from "./Cells/ComposedSnowballs/SmallAndMediumAndBig.vue";

  export default {
    name: 'Grid',
    data: function () {
      return {
        grid: [],
        conn: null,
        allowedTop: false,
        allowedBottom: false,
        allowedLeft: false,
        allowedRight: false,
      }
    },
    components: {
      'CellFree': CellFree,
      'CellPlayer': CellPlayer,
      'SmallSnowball': SmallSnowball,
      'MediumSnowball': MediumSnowball,
      'BigSnowball': BigSnowball,
      'MediumAndBig': MediumAndBig,
      'SmallAndBig': SmallAndBig,
      'SmallAndMedium': SmallAndMedium,
      'SmallAndMediumAndBig': SmallAndMediumAndBig
    },
    methods: {
      reset: function (nbSnowman) {
        let ClearQueryString = `
        PREFIX : <http://snowman/antoine/erwann#>
        DELETE{
            ?cell a ?type
        }
        INSERT{
            ?cell a :CellFree
        }
        WHERE{
            ?cell a ?type
        filter(
            ?type = :CellPlayer ||
            ?type = :SmallSnowball ||
            ?type = :MediumSnowball ||
            ?type = :BigSnowball ||
            ?type = :SmallAndBig ||
            ?type = :SmallAndMedium ||
            ?type = :MediumAndBig ||
            ?type = :SmallAndMediumAndBig
        )}
      `

        let copy = Array.from(this.grid)
        copy = copy.filter(function(cell){
          return (cell.x != 0 && cell.x !=9 && cell.y!=0 && cell.y!=9);
        });
        copy.sort(() => 0.5 - Math.random());
        let selected = copy.slice(0, nbSnowman*3+1);
        selected[0].type = ':CellPlayer';
        for( let i = 0; i < nbSnowman;i++) {
          selected[i*3+1].type = ':SmallSnowball';
          selected[i*3+2].type = ':MediumSnowball';
          selected[i*3+3].type = ':BigSnowball';
        }

        let insertBody='';
        let deleteBody=''
        selected.forEach( cell =>{
          insertBody+=`:cell${cell.x.concat(cell.y)} a ${cell.type}. `;
          deleteBody+=`:cell${cell.x.concat(cell.y)} a :CellFree. `
        })
        let generateQueryString = `
        PREFIX : <http://snowman/antoine/erwann#>
        DELETE DATA{
          ${deleteBody}
        };
        INSERT DATA{
          ${insertBody}
        }
      `
        this.execute(ClearQueryString, false).then( ()=>{
          this.execute(generateQueryString, false).then( () => {
            this.update();
          });
        });

      },
      update: function () {
        this.grid = []
        this.execute(
                `PREFIX : <http://snowman/antoine/erwann#>
           SELECT DISTINCT *
            WHERE {
                ?c a ?concept .
                ?c :hasCoordonneeX ?x .
                ?c :hasCoordonneeY ?y .
                FILTER (
                    ?concept in (:CellFree, :CellPlayer, :SmallSnowball, :MediumSnowball, :BigSnowball, :MediumAndBig, :SmallAndBig, :SmallAndMedium, :SmallAndMediumAndBig)
                )
            } ORDER BY ?c`, false)
                .then(data => {
                  data.forEach(item => {
                    this.grid.push({
                      value: item.concept.value.split("#")[1],
                      x: item.x.value,
                      y: item.y.value
                    })
                  })
                });
        this.isAllowedMove('hasNorth', 'allowedTop')
        this.isAllowedMove('hasSouth', 'allowedBottom')
        this.isAllowedMove('hasWeast', 'allowedLeft')
        this.isAllowedMove('hasEast', 'allowedRight')

      },
      move: function (direction) {
        this.getCellTypeFromDir(direction).then(data => {
          let comp = Object.keys(this.$options.components).find((key) => {
            return key === data
          })

          this.$options.components[comp].methods.move(comp, direction, this.execute).then(() => {
            this.$options.components["CellPlayer"].methods.move(comp, direction, this.execute).then(() => {
              this.update()
            })
          })
        })
      },
      isAllowedMove: function (direction, flag) {
        this.getCellTypeFromDir(direction).then(data => {
          if (data) {
            let comp = Object.keys(this.$options.components).find((key) => {
              return key === data
            });
            this.$options.components[comp].methods.isAllowedMove(direction, this.execute).then((res) => {
              this[flag] = res;
            })
          } else {
            this[flag] = false;
          }
        });
      },
      execute: function (queryString, reasoningOn) {
        return new Promise((resolve, reject) => {
          query.execute(this.conn,
                  process.env.VUE_APP_DATABASE,
                  queryString,
                  'application/sparql-results+json',
                  {
                    offset: 0,
                    reasoning: reasoningOn
                  }
          ).then(({body}) => {
            if (body && body.results && body.results.bindings) {
              resolve(body.results.bindings)
            } else if (body && (body.boolean == false || body.boolean == true)) {
              resolve(body.boolean);
            } else {
              resolve("no result provided");
            }
          }).catch(e => {
            reject(e)
          })
        })
      },
      getCellTypeFromDir: function (property) {
        return new Promise((resolve, reject) => {
          this.execute(
                  `PREFIX : <http://snowman/antoine/erwann#>
            SELECT ?celltype
            WHERE
            {
                ?player a :CellPlayer ;
                        :${property} ?cell .
                ?cell a ?celltype .
                FILTER(?celltype != owl:NamedIndividual)
            }`, false)
                  .then(function (data) {
                    if (data && data[0] && data[0].celltype) resolve(data[0].celltype.value.split("#")[1])
                    else resolve()
                  })
                  .catch(e => reject(e))
        })
      }
    },
    mounted() {
      this.conn = new Connection({
        username: 'admin',
        password: 'admin',
        endpoint: 'http://192.168.56.103:5820',
      });
      this.update()
    }
  }

</script>

<style scoped>
  .game-grid {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(10, 100px) ;
  }

  .game-cell {

  }
</style>
